.root {
    -fx-pref-width: 800px;
    -fx-pref-height: 700px;
}

.wrapper {
    -fx-padding: 20px;
}

.pane {
    -fx-border-color: red;
    -fx-border-style: dotted;
    -fx-border-insets: -1px;
    -fx-border-width: 2px;
    -fx-background-color: lightblue;
    -fx-padding: 20px;
    -fx-vgap: 15px;
    -fx-hgap: 15px;
    /*-fx-animated: false;*/
    -fx-animation-duration:100ms
}

.vertical-layout {
    -fx-spacing: 10px;
}

.controls {
    -fx-padding: 10px;
}

.tile-label {
    -fx-alignment: center;
    -fx-background: -fx-accent;
    -fx-background-color: rgba(255, 255, 255, .5), -fx-background;
    -fx-background-insets: 0px, 1px;
    -fx-background-radius: 6px, 5px;
    -fx-pref-width: 200px;
    -fx-pref-height: 160px;
}
